/*CSS base styles for color palettes
  TODO: Sass incorporation?       */
body {
  padding-top: 50px;
}
.swatch {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 5px;
}

.group {

}
