/* CSS base styles for color palettes
  TODO: Sass incorporation? */

body {
  padding-top: 50px;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #c3325f;
}

.swatch {
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
  position: relative;
  text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
  color: #fff;
}

.swatch .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    text-shadow: none;
    background-color: rgba(0,0,0,0.3);
}

#color-list,
#group-list {
  overflow-y: scroll;
  height: 600px;
}

.group {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  position: relative;
}

.group .sass-global {
  display: inline-block;
  font-weight: bolder;
}

.group .hex-code {
  width: 75px;
  display: inline-block;
  margin-left: 30px;
}

.group .shade-percent {
  width: 30px;
  display: inline-block;
}

.group .notes {
  margin-bottom: 20px;
  margin-left: 30px;
  text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
  color: #fff;
}

.group .handle {
  width: 30px;
  display: inline-block;
}

.group .close-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.group .color-match-list {
  min-height: 100px;
}
